#content-wrapper {
    margin-top: 71px;
}

/* Sized for 2/3 of 1680 or 1/2 of 1920 */
@media (min-width: 950px) {
    .container {
        width: 940px;
    }
}

#application-list {
    padding: 20px 1px 1px;
    margin: 0;
    clear: both;

}

#application-list li {
    display: inline-block;
    background-color: #eee;
    border: 1px solid #ccc;
    height: 100px;
    width: 275px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}

